

.header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13px ;
&__box{
    display: flex;
    max-width: 1520px;
    width: 100%;
    padding: 0 25px;
    justify-content: space-between;
    align-items: center;

}
&__navigation{
    max-width: 434px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
&__link{
    text-decoration: none;
    color: white;
}
&__enter{
    background-color: black;
    color: white;
    border: none;
}
}

